<!doctype html>
<html>
  <head>
    <% for(var i = 0; i < css.length; i++) { %>
        <link rel="stylesheet" href="<%=css[i]%>">
    <% } %>
    <% for(var i = 0; i < js.length; i++) { %>
        <script type="text/javascript" src="<%=js[i]%>"></script>
    <% } %>
  </head>
  <body>
      <div class="container">
        <div class="row" ng-app="acre">
          <div class="span8 offset2">
          <h3><%=appName%> Admin Portal</h3>
          <hr />
          <div ng-controller="alertController">
            <alert ng-repeat="alert in alerts" type="alert.type" close="close($index)">{{alert.msg}}</alert>
          </div>
          <ul class="nav nav-tabs">
            <%for(var i in models){%>
              <li <%if(i == 0){%> class="active" <%}%>>
                <a href="#/<%=models[i].collection%>"><%=models[i].collection%></a>
              </li>
            <%}%>
          </ul>
          <div class="acre-view-container" ng-view>
          </div>
          </div>
        </div>
      </div>
  </body>
</html>