<span class="pull-right">
	<form class="form-search">
	  <input type="text" class="input-medium search-query">
	  <button class="btn">Search</button>
	  <button data-ng-click="create()" class="btn btn-primary">+ Add <%=model.name%></button>
	</form>
</span>
<table class="table table-bordered table-hover">
	<tr data-ng-repeat="<%=model.name%> in <%=model.collection%>">
		<td>
			<a href="#/<%=model.collection%>/{{<%=model.name%>._id}}/update">{{<%=model.name%>._id}}</a>
			<span class="pull-right">
			  <button class="btn" data-ng-click="edit('{{<%=model.name%>._id}}')">Edit</button>
			  <button class="btn btn-danger" data-ng-click="delete(<%=model.name%>._id)">Delete</button>
			</span>
		</td>
	</tr>
</table>