<input type="text" ng-model="search" placeholder="Search">
<a href="#/<%=model.collection%>/create">New</a>
<ul ng-repeat="<%=model.name%> in <%=model.collection%>">
  <li><a href="#/<%=model.collection%>/update/{{<%=model.name%>._id}}">{{<%=model.name%>._id}}</a></li>
</ul>