function <%=model.controllers.retrieve%>($scope, $location, Restangular, $dialog) 
{
  var promptTemplate = '\
                    <div class="modal-header">\
                      <h2>Confirm</h2>\
                    </div>\
                    <div class="modal-body">\
                      <p>Delete {title}?</p>\
                    </div>\
                    <div class="modal-footer">\
                      <button ng-click="close()" class="btn btn-primary">Cancel</button>\
                      <button ng-click="close(true)" class="btn btn-danger">Delete</button>\
                    </div>';

  $scope.<%=model.collection%> = Restangular.all('<%=model.collection%>').getList();

  $scope.create = function()
  {
    $location.path('/<%=model.collection%>/create');
  };

  $scope.edit = function(id)
  {
    $location.path('/<%=model.collection%>/' + id + '/update');
  };

  $scope.delete = function(id)
  {
    $dialog.dialog({
      template:  promptTemplate
                  .replace(/{title}/gi, id),
      controller: 'dialogController'
    })
    .open()
    .then(function(del){
      if (del)
      {
        Restangular.one('<%=model.collection%>', id).remove().then(function(){
          $scope.<%=model.collection%> = Restangular.all('<%=model.collection%>').getList();
        });
      }
    });
  }
}

function <%=model.controllers.create%>($scope, $location, Restangular)
{
  $scope.<%=model.name%> = Restangular.copy(<%-JSON.stringify(instance)%>);

  $scope.create = function() 
  {
    Restangular.all('<%=model.collection%>').custom<%=createVerb%>('', {}, {}, $scope.<%=model.name%>).then(function(<%=model.name%>) {
      $location.path('/<%=model.collection%>');
    });
  };

  $scope.cancel = function()
  {
      $location.path('/<%=model.collection%>');
  }
}

function <%=model.controllers.update%>($scope, $location, $routeParams, Restangular, $dialog, $rootScope)
{
  var setTemplate = '\
                    <div class="modal-header">\
                      <h2>Edit {title}</h2>\
                    </div>\
                    <div ng-init="data=\'{data}\'" class="modal-body">\
                      <p><input ng-model="data" type="text" /></p>\
                    </div>\
                    <div class="modal-footer">\
                      <button ng-click="close()" class="btn btn-danger">Cancel</button>\
                      <button ng-click="close(data)" class="btn btn-primary">Save</button>\
                    </div>';

  var pushTemplate = '\
                    <div class="modal-header">\
                      <h2>Add {title}</h2>\
                    </div>\
                    <div ng-init=\'{name}={model}\' class="modal-body" style="overflow: scroll;">\
                      <form-direct-generate\
                        data-fdr-show-placeholder\
                        data-fdr-form-class="form-class"\
                        data-fdr-group-class="acre-fieldset"\
                        data-fdr-group-title-class="acre-legend"\
                        data-fdr-label-class="label-class"\
                        data-fdr-add-btn-class="btn btn-small btn-info acre-array-action-button"\
                        data-fdr-remove-btn-class="btn btn-small btn-danger acre-array-action-button"\
                        data-fdr-text-input-class="text-input-class"\
                        data-fdr-checkbox-input-class="checkbox-input-class"\
                        data-fdr-textarea-class="textarea-class"\
                        data-fdr-model=\'{model}\'\
                        data-fdr-model-name="{name}">\
                      </form-direct-generate>\
                    </div>\
                    <div class="modal-footer">\
                      <button ng-click="close()" class="btn btn-danger">Cancel</button>\
                      <button ng-click="close({name})" class="btn btn-primary">Save</button>\
                    </div>';

  var popTemplate = '\
                    <div class="modal-header">\
                      <h2>Confirm</h2>\
                    </div>\
                    <div class="modal-body">\
                      <p>Delete {title}?</p>\
                    </div>\
                    <div class="modal-footer">\
                      <button ng-click="close()" class="btn btn-primary">Cancel</button>\
                      <button ng-click="close(true)" class="btn btn-danger">Delete</button>\
                    </div>';

  $scope.init = function()
  {
    Restangular.one('<%=model.collection%>', $routeParams.id).get().then(function(<%=model.name%>) {
      $scope.<%=model.name%> = Restangular.copy(<%=model.name%>);
      $scope.ovData = <%=model.name%>.originalElement;
      $scope.ovDataInstance = <%-JSON.stringify(instance)%>;
      $scope.ovModelName = '<%=model.name%>';
      $scope.ovCollectionName = '<%=model.collection%>'
    });
  }

  $scope.push = function(path, object, name) 
  {
    $dialog.dialog({
      template:  pushTemplate
                  .replace(/{title}/gi, inflect.capitalize(name))
                  .replace(/{model}/gi, JSON.stringify(object))
                  .replace(/{name}/gi, inflect.decapitalize(name)),
      controller: 'dialogController'
    })
    .open()
    .then(function(data){
      if (data)
      {
        var resource = getNestedResource(path, $scope.<%=model.name%>, Restangular);
        resource
          .custom<%=createVerb%>('', {}, {}, data)
          .then(function(){
            $rootScope.$broadcast('post-alert', 'success', 'Saved!');
            $scope.init();
          }, function(error){
            $rootScope.$broadcast('post-alert', 'error', error.data);
          });
      }
    });
  };

  $scope.pop = function(path) 
  {
    var id = path.split('/').pop();
    $dialog.dialog({
      template:  popTemplate
                  .replace(/{title}/gi, id),
      controller: 'dialogController'
    })
    .open()
    .then(function(del){
      if (del)
      {
        var resource = getNestedResource(path, $scope.<%=model.name%>, Restangular);
        resource
          .remove()
          .then(function(){
            $rootScope.$broadcast('post-alert', 'success', 'Deleted ' + id);
            $scope.init();
          }, function(error){
            $rootScope.$broadcast('post-alert', 'error', error.data);
          });
      }
    });
  };

  $scope.set = function(path, title, value) 
  {
    $dialog.dialog({
      template:  setTemplate.replace(/{title}/gi, title).replace(/{data}/gi, value),
      controller: 'dialogController'
    })
    .open()
    .then(function(data){
      if (data)
      {
        var resource = getNestedResource(path, $scope.<%=model.name%>, Restangular);
        resource
          .custom<%=updateVerb%>('', {}, {'Content-Type':'text/plain'}, data)
          .then(function(){
            $rootScope.$broadcast('post-alert', 'success', 'Updated!');
            $scope.init();
          }, function(error){
            $rootScope.$broadcast('post-alert', 'error', error.data);
          });
      }
    });
  };

  $scope.init();
}